@white: #ffffff;
@gray--lighten: #e7e7e7;
@gray--light: #dddddd;
@gary: #898989;
@gray--dark: #383838
@gray--darken: #2f2f2f;
@black: #000000;

@color-main--light: #ff0043;
@color-main: #f50049;
@color-main--dark: #a3063c;
@color-main--bg: #e3353d;

@color-second--light: #c1b0af;
@color-second: #2d2829;
@color-second--intro: #32313d;
@color-second--bg: #fbebea;