.choice {
  background-color: @white;
  /* .choice__wrapper */
  &__wrapper {
    .container();

    margin: 0 auto;

    @media @screen-sm-only {
      width: 280px;
      padding-top: 5px;
      padding-bottom: 26px;
    }

    @media (min-width: @screen-md) {
      width: 676px;
      padding-top: 12px;
      padding-bottom: 44px;
    }

    @media (min-width: @screen-lg) {
      width: 1136px;
      padding: 36px 50px 70px 30px;
    }
  }
  /* .choice__title */
  &__title {
    font-family: "PlayfairDisplay", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: @color-second;
    margin: 0;

    @media @screen-sm-only {
      padding: 0 5px;
      margin-bottom: 5px;     
    }

    @media (min-width: @screen-md) {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    @media (min-width: @screen-lg) {
      font-size: 27px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
  /* .choice__form */
  &__form {

    @media (min-width: @screen-md) {
      display: flex;
    }
  }
  /* .choice__list */
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media @screen-sm-only {
      margin-bottom: 30px;
    }

    @media (min-width: @screen-md) {
      display: flex;
      margin-right: 42px;
    }

    @media (min-width: @screen-lg) {
      margin-right: 25px;
    }
  }
  /* .choice__item */
  &__item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      @media @screen-sm-only {
        margin-bottom: 5px;        
      }

      @media (min-width: @screen-md) {
        margin-right: 20px;
      }

      @media (min-width: @screen-lg) {
        margin-right: 84px;
      }
    }

    @media (min-width: @screen-md) {
      width: 160px;
    }

    @media (min-width: @screen-lg) {
      width: 250px;
    }

    &:nth-child(2) {      
      @media (min-width: @screen-md) {
        width: 74px;        
      }

      @media (min-width: @screen-lg) {
        width: 137px;
      }
    }

    label {
      font-family: "IntroScript", "Comic Sans MS", sans-serif;
      font-size: 20px;
      line-height: 30px;
      color: @color-main;

      @media @screen-sm-only {
        align-self: center;
        margin-bottom: 5px;        
      }

      @media (min-width: @screen-md) {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
      }

      @media (min-width: @screen-lg) {
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 16px;
      }
    }

    input {
      border: 1px solid @gray--light;
      border-radius: 15px;
      text-align: center;
      padding: 5px 15px;
      color: @color-second;

      @media (min-width: @screen-md) {
        font-size: 12px;
        line-height: 15px;
        padding-top: 7px;
        padding-bottom: 6px;
      }

      @media (min-width: @screen-lg) {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        padding: 0 0 6px 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid @color-second--light;
      }
    }
  }
  /* .choice__button */
  &__button {
    .button();

    width: 226px;

    @media @screen-md-only {
      font-size: 10px;
      line-height: 13px;
      padding: 15px 10px;
      align-self: flex-end;
    }

    @media (min-width: @screen-lg) {
      align-self: flex-end;
      min-width: 226px;     
    }
  }
}
