.custom-order {
  /* .custom-order__wrapper */
  &__wrapper {
    .container();
  }
  /* .custom-order__title */
  &__title {
    .title();

    margin: 0 10% 8px;
  }
  /* .custom-order__subtitle */
  &__subtitle {
    .subtitle();
    margin-bottom: 10px;
  }
  /* .custom-order__step */
  &__step {
    margin-bottom: 10px;
  }
  /* .custom-order__container */
  &__container {
  }
}