.main-nav {
  position: relative;
  background-color: @gray--lighten;

  @media @screen-md-only {
    position: absolute;
    top: 60px;
    left: 0;
  }
  /* .main-nav--closed */
  &--closed {

    .main-nav__toggle::before {
      content: '';

      position: absolute;
      top: 0;
      right: 0;

      width: 18px;
      height: 2px;

      background-color: @black;
      box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;

      @media @screen-md-only {
        width: 26px;
        box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
      }
    }

    .main-nav__toggle:active::before {
        background-color: fade(@black, 30%);
        box-shadow: 0 6px 0 0 fade(@black, 30%), 0 12px 0 0 fade(@black, 30%);

        @media @screen-md-only {
          box-shadow: 0 8px 0 0 fade(@black, 30%), 0 16px 0 0 fade(@black, 30%);
        }
    }
    
    .main-nav__list {
      position: absolute;
      top: -1000px;
    }
  }
  /* .main-nav--opened */
  &--opened {

    .main-nav__toggle {
      top: -31px;
      
      width: 0;
      height: 0;
      padding: 9px;

      @media @screen-md-only {
        top: -37px;
        width: 26px;
      }

      &::before,
      &::after {
        content: '';

        position: absolute;
        top: 8px;
        right: 0;

        width: 18px;
        height: 2px;

        background-color: @black;

        @media @screen-md-only {
          width: 26px;
        }
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:active::before,
      &:active::after {
        background-color: fade(@black, 30%);
      }
    }
  } 
  /* .main-nav--nojs */
  &--nojs {

    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      position: relative;
      top: 0;
    }
  } 
  /* .main-nav__toggle */
  &__toggle {
    position: absolute;
    top: -28px;
    right: 20px;

    width: 18px;
    height: 14px;

    background: none;
    padding: 0;
    cursor: pointer;
    border: none;

    @media @screen-md-only {
      top: -38px;
      left: 130px;

      width: 26px;
      height: 18px;
    }
  }
  /* .main-nav__list */
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    position: absolute;
    width: 100%;
    background-color: #e7e7e7;

    @media @screen-md-only {
      width: 320px;
    }
  }
  /* .main-nav__item */
  &__item {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    border-bottom: 1px solid fade(@black, 5%);
    
    &:last-child {
      border-bottom: none;
    }

    a {
      color: @gray--dark;
      text-decoration: none;

      &:hover,
      &:focus {
        color: lighten(@gray--dark, 40%);
        text-decoration: underline;
        outline: none;
      }

      &:active {
        color: lighten(@gray--dark, 60%);
      }
    }
  }
}