.number {
  position: absolute;

  margin: 0;

  font-size: 12px;
  color: @white;

  @media (min-width: @screen-md) {
    font-size: 11px;
    line-height: 15px;
    color: fade(@color-second, 70%);
  }
  /* .number--filling */
  &--filling {

    @media @screen-sm-only {
      top: 144px;
      right: 28px;      
    }

    @media (min-width: @screen-md) {
      bottom: 55px;
      right: 45px;
    }
  }
  /* .number--fillingout */
  &--fillingout {
    color: fade(@gray--darken, 70%);

    @media @screen-sm-only {
      top: 250px;
      right: 62px;
    }

    @media (min-width: @screen-md) {
      right: 6px;
      bottom: 20px;
      font-size: 12px;
    }
  }
  /* .number--reviews */
  &--reviews {
    color: fade(@color-main, 70%);

    @media @screen-sm-only {
      top: 250px;
      right: 20px;      
    }

    @media (min-width: @screen-md) {
      font-size: 12px;
      bottom: 7px;
      right: 132px;
    }
  }
  /* .number__current */
  &__current {
  }
  /* .number__all */
  &__all {
  }
}
