.page-header {
	/* .page-header__wrapper */
	&__wrapper {
		display: flex;
		flex-direction: column;
	}
	/* .page-header__logo */
	&__logo {
		font-family: "PlayfairDisplay";
  	font-weight: bold;
  	font-size: 16px;
  	line-height: 32px;
		
		background-color: @white;
		padding: 4px 20px;
		min-height: 40px;
	}
}
